<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
    <h3>Student Configuration</h3>
    The Student in confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName}"/>
    <br><br>
    Country: <span th:text="${student.country}"/>
    <br><br>
    Favorite Language: <span th:text="${student.favoriteLanguage}"/>
    <br><br>
    Favorite Operating Systems: <span th:text="${student.favoriteSystems}"/>
</body>
</html>